@charset "utf-8";

******************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 3vh; /* default font-size = 1.0rem */
    background: #fff;
    font-family: 'Helvetica Neue', Calibri, Verdana, sans-serif;
    line-height: 1.5rem;
}

.masthead {
    background-repeat: no-repeat;
    background-image: url("http://lorempixel.com/1250/400/cats/");
    background-color: #444;
    width: 100%;
    height: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.mainnav ul {
  background: #444;
}

.mainnav ul li{
    display: inline-block;
    padding-left: 150px;
    text-align: center;
}

.mainnav ul li a {
   text-decoration: none;
   color: gold;
}

.footer {
    clear: both;
    padding-left: 20px;
    background-color: #444;
}

@media all and (min-width:60rem) {

    .content {
      max-width: 100%;
    }

    img {
      width: 100%;
    }
}

@media all and (min-width:35rem) and (max-width:60rem) {

  .content {
      float: left;
      padding: auto 500px;
      max-width: 63%;
  }

  .side {
      float: right;
      max-width: 36%;
  }

  .left {
      max-width: 95%;
  }

  .right {
      max-width: 95%;
  }

  .mainnav ul li{
      display: inline-block;
      padding-left: 100px;
      text-align: center;
  }


}

@media all and (max-width: 35rem) {

  .content {
    width: 100%;
  }

  img {
    width: 100%;
  }
}



